<!DOCTYPE html>
<html ng-app="templateTest">
<head>
    <meta charset="utf-8">
    <title>Angular Module</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <style>
		li:first-child {
		 font-style: italic;
		}
		li:last-child {
		 font-weight: bold;
		}
		body{
			width: 90%;
			margin-right: auto;
			margin-left: auto;
		}
    </style>
</head>
<body>
	<h1>Template Test</h1>
	<ol>
	    <li ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-if="num % 3 != 0">
	        {{ num }} is not divisible by 3!
	    </li>
	</ol>
	<ul>
	    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | uppercase }}</li>
	</ul>
	<ul>
	    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | lowercase }}</li>
	</ul>

	<img ng-repeat="img in ['cats', 'sports', 'abstract']" ng-src="http://lorempixel.com/350/200/{{img}}" alt="Lorem Pixel">

	<hr>
	


	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/templateTest.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>